<log4net>
  <appender name="textbox" type="Foo.TextBoxAppender, Foo">
	<formName value="Form1"/>
	<textBoxName value="textBox1"/>
	<layout type="log4net.Layout.PatternLayout">
	  <conversionPattern value="%date %-5level %logger - %message" />
	</layout>
  </appender>
  <root>
	<level value="INFO" />
	<appender-ref ref="textbox"/>
  </root>
</log4net>